extends layout

block content
  h1= title
  button(class="btn btn-primary" type="button") Test!
  p Welcome to #{title}
  div
  - each trip in alltrips
    div
      span(class="glyphicon glyphicon-bullhorn")
      span #{trip.user} | #{trip.start_location} | #{trip.end_location} | #{trip.start_time}
