extends layout

block content
  div
  - each trip in alltrips
    div
      span(class="glyphicon glyphicon-bullhorn")
      span #{trip.user} | #{trip.transportation}| #{trip.school} | #{trip.start_location} | #{trip.end_location} | #{trip.datetime}