extends layout

block content
  div(id="title1")=title
  form( action="")
    div(id="startpoint")=startPoint
    img(src="../images/toparow1.png" height="20px")
    div(id="destination")=destination
    div(id="taxiPanel")
      div(class="icon" id="taxiIco")
      - each trip in taxitrips
        table(width="80%") 
          tr
            td(width="6%")
              input(type="checkbox" name="people" value='#{trip.user}')
            td(width="18%")
              img(src="" width="80px" height="80px" alt="photo") 
            td(width="25%")
              div(class="tripinfo")
                div(class="userName") #{trip.user}
                div(class="userSchool") #{trip.school}
                div(class="FriendInfo")
            td(width="39%")
              div(class="tripdate") #{trip.datetime}
            td(width="10%")
              a(href="#")
                img(src="../images/magnifying-glass1.png" width="40px" height="40px" alt="search")
    div(id="publicPanel")
      div(class="icon" id="publicIco")
      - each trip in publictrips
        table(border="0px" width="80%") 
          tr
            td(width="6%")
              input(type="checkbox" name="people" value='#{trip.user}')
            td(width="18%")
              img(src="" width="80px" height="80px" alt="photo") 
            td(width="25%")
              div(class="tripinfo")
                div(class="userName") #{trip.user}
                div(class="userSchool") #{trip.school}
                div(class="FriendInfo")
            td(width="39%")
              div(class="tripdate") #{trip.datetime}
            td(width="10%")
              a(href="#")
                img(src="../images/magnifying-glass1.png" width="40px" height="40px" alt="search")
    p
      div(id="submitbutton")
        input(type="submit" value="Submit" class = "btn btn-default")